extends layout 

block content 
    section.comments-page 
        header.page-hero 
            p.eyebrow We love hearing from you 
            h1 Customer Comments 
            p Share your experience or read what others are saying.

        section.comments-layout 
            article.comment-form-card 
                h2 Leave a Comment 

                form(method='POST' action='/comments')
                    .form-group
                        label(for='name') Name 
                        input(type='text' id='name' name='name' required)

                    .form-group
                        label(for='comment') Comment 
                        textarea(id='comment' name='comment' rows='5' required)

                    button.button.primary(type='submit') Post Comment 
            
            article.comments-list-card 
                h2 Recent Comments 

                if error 
                    p.error-message= error 

                if comments.length 
                    each item in comments 
                        article.customer-comment 
                            h3= item.name
                            small.comment-date Posted #{item.formattedDate}
                            p= item.comment 
                else 
                    p No comments. yet. Be the first to leave one!

            if totalPages > 1
                nav.pagination 
                    if currentPage > 1
                        a(href=`/comments?page=${currentPage - 1}`) Previous 
                    
                    span Page #{currentPage} of #{totalPages}

                    if currentPage < totalPages 
                        a(href=`/comments?page=${currentPage + 1}`) Next